@import "../base/variables";

nav a { 
    color: $primary-color;
    display: inline-block;
    background-color: $thirdy-color;
    margin: 0 40px 0 0;
    padding: 15px 40px;
    border-radius: 20px;
    transition: transform 0.3s;

    &:hover { 
        transform: translateY(-5px);
    }

    /* Стили для больших экранов (например, ширина >= 768px) */
    @media screen and (min-width: 768px) {
        display: block;
    }

    /* Стили для маленьких экранов (например, ширина < 768px) */
    @media screen and (max-width: 767px) {
        display: none;
    }
}
