nav a { 
    color: #232328;
    display: inline-block;
    background-color: #FADB6F;
    margin: 20px 40px 20px 0;
    padding: 15px 40px;
    border-radius: 20px;
    transition: transform 0.3s;

    &:hover { 
        transform: translateY(-5px);
    }

    /* Стили для больших экранов (например, ширина >= 768px) */
    @media screen and (min-width: 768px) {
        display: block;
    }

    /* Стили для маленьких экранов (например, ширина < 768px) */
    @media screen and (max-width: 767px) {
        display: none;
    }
}
