@import "variables";

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
  
main {
    display: block;
}
  
body {
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $text-primary-color;
    font-size: 14pt;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

a {
    text-decoration: none;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    main {
        display: flex;
        flex-direction: column;
        background-color: $secondary-color;
        flex-grow: 1;

        .main__top {
            background-image: url($top-container-bg);
            background-size: cover;
            background-position: center;

            padding-top: 100px;
            display: flex;  
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 0;

            /* шестеренка */
            img {
                height: 400px;
                margin-bottom: -200px;
                z-index: 0;
            }
        }

        .main__middle {
            overflow-x: auto;
            margin: 0 auto 0 auto;
            width: 100%;
            z-index: 1;
            background-color: $secondary-color;
            display: flex;
            flex-grow: 1;

            /* Стили для маленьких экранов (например, ширина < 1050px) */
            @media screen and (max-width: 1050px) {
                flex-direction: column;
            }
            
            /* Стили для больших экранов (например, ширина >= 1050px) */
            @media screen and (min-width: 1050px) {
                flex-direction: row;
                padding: 50px;
                box-sizing: border-box;
            }
        }
    }
}
