.Content a {
    text-decoration: none;
    color: inherit;
}

/* Настройка общего контейнера */
main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #1B1B1B;
}

.top-content {
    background-image: url('../../imgs/bg.jpg');
    background-size: cover;
    background-position: center;

    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 0;
}
/* шестеренка */
.top-content img {
    height: 400px;
    margin-bottom: -200px;
    z-index: 0;
}

.mid-content {
    justify-content: center;
    flex-direction: row;
    z-index: 1;
    height: 100%;
}

/* блок новостей */
.mid-content .news-container {
    height: 100%;
    width: 70%;
    background-color: #2B2B2B;

    z-index: 1;
    padding: 50px;
}

.news-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.news-item .news-text {
    color: white;
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-right: 40px;
}

.news-item img {
    display: block;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* Стили для маленьких экранов (например, ширина < 1050px) */
@media screen and (max-width: 1050px) {
    .news-container {
        width: 85%;
    }
    .news-item {
        flex-direction: column;
    }
}

/* Стили для больших экранов (например, ширина >= 1050px) */
@media screen and (min-width: 1050px) {
    .news-container {
        width: 80%;
    }
}