/* горизонтальная навигационка */
.Header {
    background-color: #232328;
    border-bottom: #2B2B2B solid 2px;
    padding: 20px 40px;
    max-height: 70px;   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Header .logo__text {
    margin: auto 0 auto 20px;
}

.MainButtons a { 
    color: #232328;
    display: inline-block;
    background-color: #FADB6F;
    margin: 20px 40px 20px 0;
    padding: 15px 40px;
    border-radius: 20px;
    transition: transform 0.3s;
}

/* Стили для больших экранов (например, ширина >= 768px) */
@media screen and (min-width: 768px) {
    .MainButtons{
        display: block;
    }
    .element-to-show {
        display: none;
    }
}

/* Стили для маленьких экранов (например, ширина < 768px) */
@media screen and (max-width: 767px) {
    .MainButtons{
        display: none;
    }
    .element-to-show {
        display: block;
    }
}

.MainButtons a:hover { 
    transform: translateY(-5px);
}

.logo {
    display: inline-flex;
}

.logo .logo__img img {
    height: 70px;
}
