aside {
    min-width: 250px;
    width: 15%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: #2B2B2B solid 2px;
    background-color: #1B1B1B;
    z-index: 2;
}

aside a:hover {
    color: #d6d6d6;
}

aside .vertical-list {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

aside .vertical-list li {
    border-bottom: #2B2B2B solid 2px;
    padding: 7px 0px 7px 0px;
    display: flex;
    align-items: center;
}

aside .vertical-list li img {
    width: 25px;
    margin: 5px 5px 5px 5px;
}

aside .vertical-list li:last-child {
    border-bottom: none;
}

/* Стили для маленьких экранов (например, ширина < 1050px) */
@media screen and (max-width: 1050px) {
    aside{
        display: none;
    }
    .element-to-show {
        display: block;
    }
}
